
@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>SCoueses</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">SCourses</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Contact Us</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="about-section">
                <h1>About Us Page</h1>
                
            </div>

            <h2 style="text-align:center">Our Team</h2>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="~/Content/clients/dist/img/phuc.jpg" alt="" style="width: 100%">
                        <div class="container">
                            <h2>Thiên Phúc</h2>
                            <p class="title">Dev</p>
                            <p>Tôi quá mệt mỏi với việc lập trình.</p>
                            <p>katholickayz@gmail.com</p>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="~/Content/clients/dist/img/tuong.jpg" alt=""  style="width: 100%">
                        <div class="container">
                            <h2>Quốc Tường</h2>
                            <p class="title">Dev</p>
                            <p>"Hello World"</p>
                            <p>hpcdot197@gmail.com</p>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>
                <hr />

                <div class="column">
                    <div class="card">
                        <img src="~/Content/clients/dist/img/quang.jpg" alt=""  style="width: 100%">
                        <div class="container">
                            <h2>Vinh Quang</h2>
                            <p class="title">Dev</p>
                            <p>Lập trình không hề vui.</p>
                            <p>quangrom147@gmail.com</p>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="~/Content/clients/dist/img/nam.jpg" alt=""  style="width:100%">
                        <div class="container">
                            <h2>Hoài Nam</h2>
                            <p class="title">Dev</p>
                            <p>Xin thầy nhẹ tay.</p>
                            <p>phamhoainambt86@gmail.com</p>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <p>Author: Những chú hề :D</p>
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}


</style>
<!-- /.content -->